/* @font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./assets/font/Roboto-Light.ttf") format("truetype") tech(color-COLRv1),
    url("./assets/font/Roboto-Regular.ttf") format("truetype"),
    url("./assets/font/Roboto-Medium.ttf") format("truetype"),
    url("./assets/font/Roboto-Bold.ttf") format("truetype");
} */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 105px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #0d2f3f;
  --secondary-color: #286f6c;
  --secondary-white-color: #e7e7e7;

  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536;
}

body {
  font-family: "Eudoxus Sans", sans-serif;
  /* overflow: hidden; */
  overflow: clip auto;
  background-color: #f8f7f1;
  /* height: 5000px; */
}

/* HEADER */

header {
  position: sticky;
  z-index: 99;
  top: 0;
  width: 100%;
  padding: 32px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f7f1;
  box-shadow: none;
  transition: box-shadow 0.1s;
}

header .logo {
  width: 135px;
}

header nav ul.big-screen-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul.big-screen-nav li {
  padding: 0 16px;
}

header nav ul li a {
  color: var(--primary-color);
  font-weight: 500;
}
header nav ul li a:hover {
  color: var(--secondary-color);
}

header nav ul li:last-child a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

header nav ul li:last-child a img {
  padding: 12px;
  background-color: #fff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  box-shadow: 0 4px 4px #0000000d;
}

header nav button {
  display: none;
}

@media (width <= 1066px) {
  header {
    padding: 32px 32px;
  }

  .big-screen-nav {
    display: none !important;
  }

  header nav button {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .small-screen-nav {
    display: flex !important;
  }
}

.small-screen-nav {
  display: none;
  position: absolute;
  right: -260px;
  top: 112px;
  height: calc(100vh - 112.14px);
  border-radius: 9px 0 0 9px;
  background-color: #fff;
  /* background-color: red; */
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  box-shadow: 0 4px 4px #0000000d;
}

.small-screen-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.small-screen-nav ul li {
  padding: 18px 16px;
}

.show-hide-nav {
  right: 0 !important;
}

.mobile-nav-footer div {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mobile-nav-footer div a {
  transition: 0.1s;
}

.mobile-nav-footer div a:hover {
  scale: 1.1;
}

.mobile-nav-footer p {
  font-size: 12px;
  color: var(--primary-color);
}

/* HERO */
.hero {
  padding: 32px 64px 0 64px;
  width: 100%;
  height: calc(100vh - 104px);
  background-color: #f8f7f1;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(./assets/image/splash.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #0d2f3f;
}

.left-hero,
.person-box,
.right-hero {
  width: calc(100% / 3);
}

.left-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 64px 0;
}

.left-hero h1 {
  font-size: 48px;
  font-weight: 700;
}

.years-experience-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.ten {
  font-size: 63px;
  font-weight: 700;
}

.years-experience {
  font-size: 25px;
  font-weight: 700;
}

.person-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 64px 0;
}

.right-hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-hero img {
  width: 70px;
  margin-bottom: 16px;
}

.right-hero h2 {
  font-size: 25px;
  font-weight: 700;
}

.alt-right-hero {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: #f8f7f1;
}

.alt-right-hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alt-right-hero img {
  width: 70px;
  margin-bottom: 16px;
}

.alt-right-hero h2 {
  font-size: 25px;
  font-weight: 700;
}

@media (width <= 1066px) {
  .hero {
    padding: 32px 32px 0 32px;
    flex-direction: column;
    align-items: center;
  }

  .left-hero {
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .right-hero {
    display: none;
  }

  .alt-right-hero {
    display: flex;
  }

  .alt-right-hero div {
    flex-direction: row;
    gap: 12px;
  }

  .alt-right-hero img {
    margin: 0;
  }
}

@media (width <= 575px) {
  .left-hero {
    flex-direction: column;
    text-align: center;
  }

  .left-hero h1 {
    width: 100%;
  }

  .years-experience-box {
    display: none;
  }

  .alt-right-hero img {
    width: 60px;
  }

  .alt-right-hero h2 {
    font-size: 20px;
  }
}

/* Services */
#services {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 64px;
  gap: 32px;
  color: #0d2f3f;
  /* scroll-snap-align: start; */
}

#services > div {
  width: 50%;
}

.left-services {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.left-services > div {
  border: 1px solid #e7e7e7;
  width: 100%;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.2s;
}

.left-services > div h3 {
  font-weight: 500;
}

.left-services > div div:first-of-type {
  border-radius: 50%;
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-services > div .image-box-one {
  background-color: #286f6c;
}
.left-services > div .image-box-two {
  background-color: #eec048;
}
.left-services > div .image-box-three {
  background-color: #f26440;
}

.services-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.left-services > div:hover {
  box-shadow: 0 21px 13px #0000000a;
}

.right-services {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.right-services h1 {
  font-size: 48px;
}

.right-services p {
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
}

.right-services > div {
  display: flex;
  gap: 64px;
  text-align: center;
}

.right-services > div h2 {
  font-size: 48px;
  font-weight: 700px;
}

.right-services > div h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 50px;
}

@media (width <= 915px) {
  #services {
    padding: 32px;
    flex-wrap: wrap;
    gap: 64px;
  }

  #services > div {
    width: 100%;
  }

  .right-services > div div {
    /* justify-content: center; */
    width: 50%;
  }

  .right-services h1 {
    font-size: 43px;
  }
}















/* Footer */

footer {
  padding: 64px;
  display: flex;
  align-items: center;
  /* gap: 36px; */
  color: #0d2f3f;
  /* background-color: #fff; */
}

footer .footer-slogan {
  width: 75%;
}

footer h1{
  font-size: 48px;
  font-weight: 700;
}

footer div h1:first-of-type {
  margin-bottom: 48px;
}

footer div h1:nth-of-type(2) a{
  color: orange;
  text-decoration: underline;
}

footer div h2 {
  margin-bottom: 12px;
}

footer .footer-link {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer  a:hover{
  color: #286f6c;
}

@media (width <= 915px) {
  footer {
    padding: 32px;
    flex-wrap: wrap;
  }

  footer .footer-slogan {
    width: 100%;
  }

  footer .footer-slogan{
    margin-bottom: 48px;
  }

  footer .footer-link {
    flex-direction: row;
  }

  footer div h1:nth-child(2){
    font-size: 36px;
  }
}